body{
  background-color:#cccccc;
  }
.wrapper{
  background-color:#3399ff;
  border:1px solid red;
  margin:50px;
}
.headder{
  background-color:#0073e6;
  border:1px solid blue;
  margin:-1px;
  height:29px;
}
#GSR{
  width:1000px;
}
#search{
  float:right;
  width:750px;
}
#mbtn{
  float:left;
  padding: 5px;
}
