body{
  background-color:#cccccc;
  }
.wrapper{
  background-color:#3399ff;
  border:1px solid red;
  margin:50px;
  height:1000px; /*just to get the size right*/
}
.headder{
  background-color:#0073e6;
  border:1px solid blue;
  margin:-1px;
  height:29px;
}
#GSR{
  width:1000px;
}
#search{
  float:right;
  width:750px;
}
.sidebar{
  float:left;
  padding: 5px;
}
.icon-menu{
  height:27px;
  width:30px;
}
.menu {
  background: white;
  left: -208px;  /* start off behind the scenes , accounting for border and width*/
  position: fixed;/*allows it to be hidden*/
  width: 206px;
  border:1px solid black;
}
