body{
  background-color:#cccccc;
  }
.wrapper{
  border:1px solid red;
  margin:50px;
}
.headder{
  border:1px solid blue;
}
#GSR{
  float:right;
  width:500px;
}
#search{
  float:right;
  width:750px;
}
